:root{
    --hoverColor: rgb(9, 255, 0);    
    --backgroundColor: #43759e ;    
    --backgroundImage: url('PenteBoard_lg.png');
}
html{
    background-color: var(--backgroundColor);
}
td{
    width: 20px;
    height: 35px;
}

table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 45%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    border: 0;
    outline: 0;
    background: transparent;
    background-image: var(--backgroundImage) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    text-align: center;
    align-self: auto;
}
td{
    max-height: 20px;
    max-width: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    text-align: center;
    align-self: center;
}
td:hover{
    background-color: var(--hoverColor);
}
img{
    width: 20px;
    height: 20px;
}